node_modules
.next
.git
.github
.vscode
.storybook
storybook-static
coverage
vitest-test-results
test-results
playwright-report
local.db
local
*.db
.env
.env.*.local
.env.production
.env.development
.env.sentry-build-plugin
.DS_Store
*.tsbuildinfo
next-env.d.ts
README.md
CHANGELOG.md
Dockerfile
.dockerignore
npm-debug.log*
*storybook.log
